* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.logo a {
    text-decoration: none; 
    color: inherit; 
    display: flex;
    align-items: center;
    gap: 10px;
}

body {
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

#back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #ADD8E6; 
    font-size: 2em;
    padding: 10px 20px; 
    display: none;
    border-radius: 5px;
    z-index: 9999;
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  #back-to-top:hover {
    background-color: #9AC0CD;
  }
  
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p {
    font-size: 43px;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s;
}

nav a:hover {
    color: cornflowerblue;
}


/* -------------------------------------------------------------------------- */


#contact {
    background-color: #f8f8f8;
    color: black;
    padding: 100px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
}

#contact h2 {
    font-size: 65px;
    margin-bottom: 30px;
    margin-top: -37px; 
    color: cornflowerblue;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 0.5); 
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px; 
    max-width: 800px; 
    margin: auto; 
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px; 
    flex: 1; 
    min-width: 120px; 
}

.contact-item img {
    width: 80px; 
    height: auto; 
}

#contact h2 {
    text-align: center;
    width: 100%; 
}

#contact-form {
    width: 100%;
    max-width: 600px; 
    margin: 10px auto 0; 
}

#contact-form input,
#contact-form textarea {
    width: calc(100% - 40px); 
    padding: 20px; 
    margin-bottom: 20px;
    border: none;
    background-color: lightgray;
    color: black;
    font-size: 1.2em; 
}

#contact-form #message {
    height: 200px; 
}

#contact-form button {
    background-color: cornflowerblue;
    color: white;
    border: none;
    padding: 15px 30px; 
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 15px; 
    display: block; 
    margin: 20px auto 0; 
    transition: background-color 0.3s; 
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); 
}

#contact-form button:hover {
    background-color: lightblue;
}

.contact-item p {
    font-size: 1.2em; 
    margin-top: 10px; 
}
